<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .otp-container {
            text-align: center;
        }

        .otp-input {
            width: 2em;
            height: 2em;
            text-align: center;
            font-size: 1.5em;
            margin: 0 0.2em;
        }
    </style>

</head>

<body>
    <div class="otp-container">
        <h2>Enter otp</h2>
        <form action="" method="post">
            <input type="hidden" name="email" value="<%=locals.email%>">
            <input type="text" class="input-otp" maxlength="1" name="one" required>
            <input type="text" class="input-otp" maxlength="1" name="two" required>
            <input type="text" class="input-otp" maxlength="1" name="three" required>
            <input type="text" class="input-otp" maxlength="1" name="four" required>
            <br><br>
            <button type="submit">Verify otp</button>
            <%if(typeof message !=="undefined" ) { %>
                <p><%- message %></p>
                <% } %>

        </form>
    </div>
</body>


</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/css/main.css">
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Enter Otp
                    </span>
                </div>

                <form class="container mt-4" method="post" action="">
                    <div class="form-group row justify-content-center">
                        <input type="hidden" name="email" value="<%= locals.email %>">
                        <input class="form-control col-2 mr-2" type="text" name="one" maxlength="1" required>
                        <input class="form-control col-2 mr-2" type="text" name="two" maxlength="1" required>
                        <input class="form-control col-2 mr-2" type="text" name="three" maxlength="1" required>
                        <input class="form-control col-2" type="text" name="four" maxlength="1" required>
                    </div>
                
                    <div class="text-center mt-3">
                        <button class="btn btn-dark" type="submit">Verify OTP</button>
                    </div>
                
                    <div class="container mt-3">
                        <% if(typeof message !=="undefined" ) { %>
                            <p class="text-danger"><%- message %></p>
                        <% } %>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/login/js/main.js"></script>

</body>

</html>